@use "fonts";
@use "variables" as v;
@use "functions" as f;
@use "sass:color";

@layer base {
	:root {
		@each $name, $color in v.$colors {
			@if ($name == "black" or $name == "white") {
				--#{$name}: #{color.scale($color, $space: hsl)};
			} @else {
				$baseLightness: color.channel($color, "lightness", $space: hsl);
				$baseHue: color.channel($color, "hue", $space: hsl);
				$baseSaturation: color.channel($color, "saturation", $space: hsl);
				@each $shade, $percent in v.$shades {
					$val: hsl($baseHue $baseSaturation $percent);
					@if (
						$percent <= $baseLightness and ($percent + 8%) >= $baseLightness
					) {
						$val: hsl(
							$baseHue $baseSaturation $baseLightness
						);
					}
					--#{$name}-#{$shade}: #{color.scale($val, $space: hsl)};
				}
			}
		}
	}

	body {
		font-family: fonts.$font1;
		color: var(--text-color);
		background-color: var(--body-bg-color);
	}
}
